* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
  
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-image: url(./assets/fondobody2.jpg);
  background-size: cover;
}

#nombrepag{
    color: #fa0660;
}

#subnombre{
    color:#fa0660;
}

.textos{
    color: rgb(52, 31, 31);
}

#cajaUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020118c2;
    border-radius: 1em;
}

#inputs{
    margin: 1em;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ef902b;
    border-radius: 1em;
}

#prod{
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ef902b;
    border-radius: 1em;
    width: 100%;
}

#precios{
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ef902b;
    border-radius: 1em;
    width: 100%; 
}
